In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm
import sys
import os
sys.path.append(os.path.abspath('../common/'))
import common_functions_by_date as cfbd
import datetime

In [2]:
demand_task4_path = '../task4/Input/demand_train_set4.csv'
solar_power_task4_path = '../task4/Input/pv_train_set4.csv'
weather_task4_path = '../task4/Input/weather_train_set4.csv'
dp_task4 = cfbd.DataPreprocesser(demand_path=demand_task4_path, solar_path=solar_power_task4_path, weather_path=weather_task4_path)
dp_task4.load_df()
dp_task4.remove_nan()
dp_task4.interpolate_df()

In [3]:
first_day_prediction=datetime.datetime(2019,12,18).date()
demand_and_solar_power = dp_task4.df.loc[(dp_task4.df.index.date >= first_day_prediction) & 
                                         (dp_task4.df.index.date < first_day_prediction+ datetime.timedelta(days=7)), :]
demand_and_solar_power.head()

,demand_MW,irradiance_Wm-2,pv_power_mw,panel_temp_C,temp_location3,temp_location6,temp_location2,temp_location4,temp_location5,temp_location1,...,solar_location6,solar_location2,solar_location4,solar_location5,solar_location1,week,dow,date,hour,sp
datetime,,,,,,,,,,,,,,,,,,,,,
2019-12-18 00:00:00,2.62,0.0,0.0,3.39,1.980,9.770,4.430,3.36,9.690,4.040,...,0.0,0.0,0.0,0.0,0.0,51,2,2019-12-18,0,1.0
2019-12-18 00:30:00,2.56,0.0,0.0,1.85,1.855,9.805,4.375,3.22,9.740,3.980,...,0.0,0.0,0.0,0.0,0.0,51,2,2019-12-18,0,2.0
2019-12-18 01:00:00,2.43,0.0,0.0,3.62,1.730,9.840,4.320,3.08,9.790,3.920,...,0.0,0.0,0.0,0.0,0.0,51,2,2019-12-18,1,3.0
2019-12-18 01:30:00,2.35,0.0,0.0,4.25,1.640,9.900,4.340,2.83,9.875,3.965,...,0.0,0.0,0.0,0.0,0.0,51,2,2019-12-18,1,4.0
2019-12-18 02:00:00,2.31,0.0,0.0,3.82,1.550,9.960,4.360,2.58,9.960,4.010,...,0.0,0.0,0.0,0.0,0.0,51,2,2019-12-18,2,5.0

## Score with real values

In [4]:
BGBattery_path_real = 'Output/BGBattery_real_set3.csv'

In [5]:
BGBattery_sc_real = cfbd.ScoreComputer(BGBattery_path_real)
BGBattery_sc_real.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 81.49it/s]

(             r_peak   p_solar          s
 20191218   31.48855  0.088235  37.045352
 20191219  31.048387  0.055184  34.475132
 20191220  33.894737  0.927913  96.797459
 20191221  33.970276  0.220353  48.941197
 20191222  33.894737  0.787752  87.296008
 20191223  33.826638  0.602671  74.599315
 20191224  32.905983  0.442953  62.057592,
 r_peak     33.004187
 p_solar     0.446437
 s          63.030294
 dtype: float64)

## Naive score

In [6]:
BGBattery_path_naive = 'Output/BGBattery_naive_set3.csv'

In [7]:
BGBattery_sc_naive = cfbd.ScoreComputer(BGBattery_path_naive)
BGBattery_sc_naive.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 114.16it/s]

(             r_peak   p_solar          s
 20191218  24.045802  0.087646  28.260842
 20191219  26.612903  0.053885  29.480957
 20191220  29.684211  0.854206  80.397046
 20191221  27.813163  0.220353  40.070605
 20191222  29.263158  0.717484  71.254873
 20191223  28.964059  0.605705  64.051393
 20191224  22.222222  0.435371  41.572059,
 r_peak     26.943645
 p_solar     0.424950
 s          50.726825
 dtype: float64)

## Last model prediction score

In [8]:
BGBattery_path_last_model = 'Output/BGBattery_last_model_set3.csv'

In [9]:
BGBattery_sc_last_model = cfbd.ScoreComputer(BGBattery_path_last_model)
BGBattery_sc_last_model.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 109.26it/s]

(             r_peak   p_solar          s
 20191218  25.620441  0.087778  30.118249
 20191219  28.043907  0.054271  31.087867
 20191220  30.839064  0.860165  83.892442
 20191221  28.725643  0.217485   41.22043
 20191222  30.572632  0.760498  77.073495
 20191223  29.349072  0.602576  64.719154
 20191224  24.481956  0.442191  46.133373,
 r_peak     28.233245
 p_solar     0.432138
 s          53.463573
 dtype: float64)