In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm
import sys
import os
sys.path.append(os.path.abspath('../common/'))
import common_functions_by_date as cfbd
import datetime

In [2]:
demand_task2_path = '../task2/Input/demand_train_set2.csv'
solar_power_task2_path = '../task2/Input/pv_train_set2.csv'
weather_task2_path = '../task2/Input/weather_train_set2.csv'
dp_task2 = cfbd.DataPreprocesser(demand_path=demand_task2_path, solar_path=solar_power_task2_path, weather_path=weather_task2_path)
dp_task2.load_df()
dp_task2.remove_nan()
dp_task2.interpolate_df()

In [4]:
first_day_prediction=datetime.datetime(2018,10,16).date()
demand_and_solar_power = dp_task2.df.loc[(dp_task2.df.index.date >= first_day_prediction) & 
                                         (dp_task2.df.index.date < first_day_prediction+ datetime.timedelta(days=7)), :]
demand_and_solar_power.head()

,demand_MW,irradiance_Wm-2,pv_power_mw,panel_temp_C,temp_location3,temp_location6,temp_location2,temp_location4,temp_location5,temp_location1,...,solar_location6,solar_location2,solar_location4,solar_location5,solar_location1,week,dow,date,hour,sp
datetime,,,,,,,,,,,,,,,,,,,,,
2018-10-16 00:00:00,1.95,0.0,0.0,12.41,11.65,14.870,12.67,11.45,14.190,11.740,...,0.0,0.0,0.0,0.0,0.0,42,1,2018-10-16,0,1.0
2018-10-16 00:30:00,1.87,0.0,0.0,12.38,11.81,14.850,12.65,11.61,14.190,11.720,...,0.0,0.0,0.0,0.0,0.0,42,1,2018-10-16,0,2.0
2018-10-16 01:00:00,1.80,0.0,0.0,12.40,11.97,14.830,12.63,11.77,14.190,11.700,...,0.0,0.0,0.0,0.0,0.0,42,1,2018-10-16,1,3.0
2018-10-16 01:30:00,1.76,0.0,0.0,12.63,11.93,14.825,12.60,11.75,14.155,11.645,...,0.0,0.0,0.0,0.0,0.0,42,1,2018-10-16,1,4.0
2018-10-16 02:00:00,1.76,0.0,0.0,12.91,11.89,14.820,12.57,11.73,14.120,11.590,...,0.0,0.0,0.0,0.0,0.0,42,1,2018-10-16,2,5.0

## Real values score

In [5]:
BGBattery_path_real = 'Output/BGBattery_real_set1.csv'

In [6]:
BGBattery_sc_real = cfbd.ScoreComputer(BGBattery_path_real)
BGBattery_sc_real.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 96.77it/s]

(             r_peak   p_solar           s
 20181016  37.089202   0.77479   94.561881
 20181017  37.671233  0.655172   87.033538
 20181018  39.578454       1.0  118.735363
 20181019  36.658354       1.0  109.975062
 20181020  41.561713       1.0  124.685139
 20181021   39.02439       1.0  117.073171
 20181022   40.28103       1.0  120.843091,
 r_peak      38.837768
 p_solar      0.918566
 s          110.415321
 dtype: float64)

## Naive score

In [7]:
BGBattery_path_naive = 'Output/BGBattery_naive_set1.csv'

In [8]:
BGBattery_sc_naive = cfbd.ScoreComputer(BGBattery_path_naive)
BGBattery_sc_naive.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 99.83it/s]

(             r_peak   p_solar           s
 20181016  33.333333  0.720842    81.38945
 20181017  33.333333  0.653376   76.891753
 20181018  33.957845  0.824894   89.981102
 20181019  31.421446  0.933664   90.095569
 20181020  37.531486       1.0  112.594458
 20181021  34.390244       1.0  103.170732
 20181022   35.59719  0.997498  106.613435,
 r_peak     34.223554
 p_solar     0.875753
 s          94.390928
 dtype: float64)

## Last model prediction

In [9]:
BGBattery_path_last_model = 'Output/BGBattery_last_model_set1.csv'

In [10]:
BGBattery_sc_last_model = cfbd.ScoreComputer(BGBattery_path_last_model)
BGBattery_sc_last_model.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 101.86it/s]

(             r_peak   p_solar           s
 20181016   34.86072  0.680703   82.320333
 20181017  32.281329  0.641804   73.717918
 20181018  32.084569  0.998864   96.180829
 20181019  34.118315  0.911008    96.28244
 20181020  36.233697       1.0  108.701092
 20181021  32.378049       1.0   97.134146
 20181022  33.100963  0.999978   99.301444,
 r_peak     33.579663
 p_solar     0.890337
 s          93.376886
 dtype: float64)