# Monkey tests (naive tests)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm
import sys
import os
sys.path.append(os.path.abspath('../common/'))
import common_functions as cf

In [2]:
weather_path = 'Input/weather_train_set0.csv'
demand_path = 'Input/demand_train_set0.csv'
solar_path = 'Input/pv_train_set0.csv'
dp = cf.DataPreprocesser(weather_path, demand_path, solar_path)
dp.load_df()
dp.remove_nan()
dp.interpolate_df()
dp.set_df(dp.df[dp.df['week']!=44])
dp.df.head()

,demand_MW,irradiance_Wm-2,pv_power_mw,panel_temp_C,temp_location3,temp_location6,temp_location2,temp_location4,temp_location5,temp_location1,solar_location3,solar_location6,solar_location2,solar_location4,solar_location5,solar_location1,week,dow,hour,sp
datetime,,,,,,,,,,,,,,,,,,,,
2017-11-06 00:00:00,2.32,0.0,0.0,1.61,5.14,10.76,6.350,3.58,11.120,7.390,0.0,0.0,0.0,0.0,0.0,0.0,45,0,0,1.0
2017-11-06 00:30:00,2.22,0.0,0.0,2.98,5.05,10.70,6.245,3.58,11.060,7.325,0.0,0.0,0.0,0.0,0.0,0.0,45,0,0,2.0
2017-11-06 01:00:00,2.04,0.0,0.0,2.76,4.96,10.64,6.140,3.58,11.000,7.260,0.0,0.0,0.0,0.0,0.0,0.0,45,0,1,3.0
2017-11-06 01:30:00,1.97,0.0,0.0,3.98,5.03,10.60,6.085,3.57,10.965,7.255,0.0,0.0,0.0,0.0,0.0,0.0,45,0,1,4.0
2017-11-06 02:00:00,1.91,0.0,0.0,2.13,5.10,10.56,6.030,3.56,10.930,7.250,0.0,0.0,0.0,0.0,0.0,0.0,45,0,2,5.0

In [3]:
prediction_week = 30

## Test 1 : take demand of previous week, solar of previous week, charge max for battery

In [4]:
mp = cf.MLPredictor(dp,prediction_week)
predicted_demand = mp.get_demand_previous_week()

/home/raph/project/westernpower/westernpower/task0/common_functions.py:254: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  demand_prediction['week']=demand_prediction.index.week

In [5]:
predicted_solar_power = dp.df.loc[dp.df['week'] == (prediction_week-1), ['pv_power_mw']]
predicted_solar_power.index = predicted_solar_power.index + pd.DateOffset(7)
predicted_solar_power

                     pv_power_mw
datetime
2018-07-23 00:00:00          0.0
2018-07-23 00:30:00          0.0
2018-07-23 01:00:00          0.0
2018-07-23 01:30:00          0.0
2018-07-23 02:00:00          0.0
...                          ...
2018-07-29 21:30:00          0.0
2018-07-29 22:00:00          0.0
2018-07-29 22:30:00          0.0
2018-07-29 23:00:00          0.0
2018-07-29 23:30:00          0.0

[336 rows x 1 columns]

In [6]:
predicted_data = predicted_demand.merge(predicted_solar_power,how='outer', left_index=True, right_index=True)
predicted_data

                     demand_MW  week  dow  hour    sp  pv_power_mw
datetime
2018-07-23 00:00:00       1.73    30    0     0   1.0          0.0
2018-07-23 00:30:00       1.62    30    0     0   2.0          0.0
2018-07-23 01:00:00       1.56    30    0     1   3.0          0.0
2018-07-23 01:30:00       1.48    30    0     1   4.0          0.0
2018-07-23 02:00:00       1.48    30    0     2   5.0          0.0
...                        ...   ...  ...   ...   ...          ...
2018-07-29 21:30:00       2.40    30    6    21  44.0          0.0
2018-07-29 22:00:00       2.15    30    6    22  45.0          0.0
2018-07-29 22:30:00       1.93    30    6    22  46.0          0.0
2018-07-29 23:00:00       1.82    30    6    23  47.0          0.0
2018-07-29 23:30:00       1.63    30    6    23  48.0          0.0

[336 rows x 6 columns]

In [7]:
bpd = cf.BatteryPowerDispatcher
B= bpd.get_all_dispatch_in_a_week(bpd,predicted_data, prediction_week)
B

        3000      3001      3002      3003      3004      3005      3006
1        0.0       0.0       0.0       0.0       0.0       0.0       0.0
2        0.0       0.0       0.0       0.0       0.0       0.0       0.0
3        0.0       0.0       0.0       0.0       0.0       0.0       0.0
4        0.0       0.0       0.0       0.0       0.0       0.0       0.0
5        0.0       0.0       0.0       0.0       0.0       0.0       0.0
6        0.0       0.0       0.0       0.0       0.0       0.0       0.0
7        0.0       0.0       0.0       0.0       0.0       0.0       0.0
8        0.0       0.0       0.0       0.0       0.0       0.0       0.0
9        0.0       0.0       0.0       0.0       0.0       0.0       0.0
10  0.003687  0.012497  0.004397   0.00605  0.009041       0.0  0.006098
11  0.025806  0.031242  0.030781   0.03025  0.030136  0.042433  0.021341
12  0.062673  0.065608   0.07915  0.069574  0.057258  0.063649  0.036585
13  0.132719  0.124967  0.118725  0.157298  0.108488  0.055163  0.088415
14   0.35023  0.181203  0.233052  0.226872   0.21999  0.114569  0.192073
15  0.412903   0.23119  0.255038  0.350895  0.385736  0.250354  0.262195
16   0.38341   0.36553  0.281422  0.257121  0.530387  0.207921  0.402439
17  0.534562  0.396772   0.18908  0.405344  0.427926  0.305516  0.420732
18  0.460829  0.543608  0.294613   0.66549  0.436966  0.547383  0.661585
19  0.615668  0.734184  0.435324  0.756239   0.75339  0.691655  0.762195
20  0.847926  0.781047  0.681568  0.756239   0.75339  0.797737  0.762195
21  0.921659  0.781047  0.620007  0.756239   0.75339  0.937765  0.762195
22  0.921659  0.781047  0.496885  0.756239   0.75339  0.691655  0.762195
23  0.921659  0.781047   0.58483  0.756239   0.75339  0.912306  0.762195
24  0.593548  0.781047  0.835471  0.756239   0.75339   1.06082  0.762195
25  0.792627  0.721687  0.958593  0.756239   0.75339   1.06082  0.762195
26  0.545622  0.781047  1.081715  0.756239   0.75339   1.06082  0.762195
27  0.552995  0.781047  0.976182  0.756239   0.75339   1.06082  0.762195
28  0.645161  0.781047  0.888237  0.756239   0.75339   1.06082  0.762195
29  0.921659  0.781047  0.976182  0.756239   0.75339  0.466761  0.762195
30  0.534562  0.781047  0.980579  0.756239   0.75339    0.2843  0.762195
31  0.818433  0.781047  0.998168  0.756239   0.75339  0.326733  0.762195
32     -1.03     -0.98     -1.07     -0.79     -0.78     -0.94      -0.8
33     -1.25     -1.15      -1.2     -1.07     -1.09     -1.09     -1.13
34     -1.27     -1.17     -1.25     -1.14     -1.13     -1.21     -1.22
35     -1.23      -1.3     -1.12     -1.29     -1.16     -1.35     -1.26
36     -1.21     -1.27     -1.24     -1.29     -1.24     -1.39     -1.26
37     -1.18     -1.21     -1.22     -1.18     -1.21     -1.22     -1.18
38     -1.09     -1.11     -1.12     -1.12     -1.16     -1.06     -1.07
39     -0.97     -1.06     -1.04     -1.11     -1.11     -1.02     -1.02
40     -0.95     -0.95     -0.99     -1.05     -1.06     -0.94     -1.06
41     -0.88     -0.88     -0.88     -0.98     -1.04     -0.83     -0.96
42     -0.88      -0.9     -0.85     -0.96     -1.02     -0.88     -0.96
43         0         0         0         0         0         0         0
44         0         0         0         0         0         0         0
45         0         0         0         0         0         0         0
46         0         0         0         0         0         0         0
47         0         0         0         0         0         0         0
48         0         0         0         0         0         0         0

In [8]:
B.sum()

3000    0.06
3001    0.02
3002    0.02
3003    0.02
3004     0.0
3005    0.07
3006    0.08
dtype: object

In [9]:
B_final = bpd.format_dispatching_for_competition(B, predicted_data.index)
B_final.to_csv('Output/test_raph/naive1.csv')

## Test 2 : take demand of previous week, solar of previous week, charge max = solar charge max

In [10]:
mp = cf.MLPredictor(dp,prediction_week)
predicted_demand = mp.get_demand_previous_week()
predicted_solar_power = dp.df.loc[dp.df['week'] == (prediction_week-1), ['pv_power_mw']]
predicted_solar_power.index = predicted_solar_power.index + pd.DateOffset(7)
predicted_data = predicted_demand.merge(predicted_solar_power,how='outer', left_index=True, right_index=True)
predicted_data

/home/raph/project/westernpower/westernpower/task0/common_functions.py:246: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  demand_prediction['week']=demand_prediction.index.week

                     demand_MW  week  dow  hour    sp  pv_power_mw
datetime
2018-07-23 00:00:00       1.73    30    0     0   1.0          0.0
2018-07-23 00:30:00       1.62    30    0     0   2.0          0.0
2018-07-23 01:00:00       1.56    30    0     1   3.0          0.0
2018-07-23 01:30:00       1.48    30    0     1   4.0          0.0
2018-07-23 02:00:00       1.48    30    0     2   5.0          0.0
...                        ...   ...  ...   ...   ...          ...
2018-07-29 21:30:00       2.40    30    6    21  44.0          0.0
2018-07-29 22:00:00       2.15    30    6    22  45.0          0.0
2018-07-29 22:30:00       1.93    30    6    22  46.0          0.0
2018-07-29 23:00:00       1.82    30    6    23  47.0          0.0
2018-07-29 23:30:00       1.63    30    6    23  48.0          0.0

[336 rows x 6 columns]

In [11]:
bpd = cf.BatteryPowerDispatcher
bpd.get_all_dispatch_in_a_week(bpd,predicted_data, prediction_week, full_solar=True)

    3000  3001  3002  3003  3004  3005  3006
1    0.0   0.0   0.0   0.0   0.0   0.0   0.0
2    0.0   0.0   0.0   0.0   0.0   0.0   0.0
3    0.0   0.0   0.0   0.0   0.0   0.0   0.0
4    0.0   0.0   0.0   0.0   0.0   0.0   0.0
5    0.0   0.0   0.0   0.0   0.0   0.0   0.0
6    0.0   0.0   0.0   0.0   0.0   0.0   0.0
7    0.0   0.0   0.0   0.0   0.0   0.0   0.0
8    0.0   0.0   0.0   0.0   0.0   0.0   0.0
9    0.0   0.0   0.0   0.0   0.0   0.0   0.0
10  0.01  0.04  0.01  0.02  0.03   0.0  0.02
11  0.07   0.1  0.07   0.1   0.1   0.1  0.07
12  0.17  0.21  0.18  0.23  0.19  0.15  0.12
13  0.36   0.4  0.27  0.52  0.36  0.13  0.29
14  0.95  0.58  0.53  0.75  0.73  0.27  0.63
15  1.12  0.74  0.58  1.16  1.28  0.59  0.86
16  1.04  1.17  0.64  0.85  1.76  0.49  1.32
17  1.45  1.27  0.43  1.34  1.42  0.72  1.38
18  1.25  1.74  0.67   2.2  1.45  1.29  2.17
19  1.67  2.35  0.99   2.5   2.5  1.63   2.5
20   2.3   2.5  1.55  2.33  2.18  1.88   2.5
21  1.61   0.9  1.41   0.0   0.0  2.21  0.14
22   0.0   0.0  1.13   0.0   0.0  1.63   0.0
23   0.0   0.0  1.33   0.0   0.0  0.91   0.0
24   0.0   0.0   1.9   0.0   0.0   0.0   0.0
25   0.0   0.0  0.31   0.0   0.0   0.0   0.0
26   0.0   0.0   0.0   0.0   0.0   0.0   0.0
27   0.0   0.0   0.0   0.0   0.0   0.0   0.0
28   0.0   0.0   0.0   0.0   0.0   0.0   0.0
29   0.0   0.0   0.0   0.0   0.0   0.0   0.0
30   0.0   0.0   0.0   0.0   0.0   0.0   0.0
31   0.0   0.0   0.0   0.0   0.0   0.0   0.0
32 -1.03 -0.98 -1.07 -0.79 -0.78 -0.94  -0.8
33 -1.25 -1.15  -1.2 -1.07 -1.09 -1.09 -1.13
34 -1.27 -1.17 -1.25 -1.14 -1.13 -1.21 -1.22
35 -1.23  -1.3 -1.12 -1.29 -1.16 -1.35 -1.26
36 -1.21 -1.27 -1.24 -1.29 -1.24 -1.39 -1.26
37 -1.18 -1.21 -1.22 -1.18 -1.21 -1.22 -1.18
38 -1.09 -1.11 -1.12 -1.12 -1.16 -1.06 -1.07
39 -0.97 -1.06 -1.04 -1.11 -1.11 -1.02 -1.02
40 -0.95 -0.95 -0.99 -1.05 -1.06 -0.94 -1.06
41 -0.88 -0.88 -0.88 -0.98 -1.04 -0.83 -0.96
42 -0.88  -0.9 -0.85 -0.96 -1.02 -0.88 -0.96
43     0     0     0     0     0     0     0
44     0     0     0     0     0     0     0
45     0     0     0     0     0     0     0
46     0     0     0     0     0     0     0
47     0     0     0     0     0     0     0
48     0     0     0     0     0     0     0

## Test 3 : take demand of previous week, solar of previous day, charge max for battery

## Test 4 : take demand of previous week, solar of previous day, charge max = solar charge max