In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm
import sys
import os
sys.path.append(os.path.abspath('../common/'))
import common_functions_by_date as cfbd
import datetime

In [2]:
demand_task1_path = '../task1/Input/demand_train_set1.csv'
solar_power_task1_path = '../task1/Input/pv_train_set1.csv'
weather_task1_path = '../task1/Input/weather_train_set1.csv'
dp_task1 = cfbd.DataPreprocesser(demand_path=demand_task1_path, solar_path=solar_power_task1_path, weather_path=weather_task1_path)
dp_task1.load_df()
dp_task1.remove_nan()
dp_task1.interpolate_df()

In [6]:
first_day_prediction=datetime.datetime(2018,7,23).date()
demand_and_solar_power = dp_task1.df.loc[(dp_task1.df.index.date >= first_day_prediction) & 
                                         (dp_task1.df.index.date < first_day_prediction+ datetime.timedelta(days=7)), :]
demand_and_solar_power.head()

,demand_MW,irradiance_Wm-2,pv_power_mw,panel_temp_C,temp_location3,temp_location6,temp_location2,temp_location4,temp_location5,temp_location1,...,solar_location6,solar_location2,solar_location4,solar_location5,solar_location1,week,dow,date,hour,sp
datetime,,,,,,,,,,,,,,,,,,,,,
2018-07-23 00:00:00,1.68,0.0,0.0,14.86,15.67,18.500,17.050,17.860,18.740,16.74,...,0.0,0.0,0.0,0.0,0.0,30,0,2018-07-23,0,1.0
2018-07-23 00:30:00,1.58,0.0,0.0,14.64,15.57,18.355,16.845,17.585,18.630,16.62,...,0.0,0.0,0.0,0.0,0.0,30,0,2018-07-23,0,2.0
2018-07-23 01:00:00,1.49,0.0,0.0,14.38,15.47,18.210,16.640,17.310,18.520,16.50,...,0.0,0.0,0.0,0.0,0.0,30,0,2018-07-23,1,3.0
2018-07-23 01:30:00,1.47,0.0,0.0,14.61,15.37,18.110,16.485,17.050,18.455,16.41,...,0.0,0.0,0.0,0.0,0.0,30,0,2018-07-23,1,4.0
2018-07-23 02:00:00,1.47,0.0,0.0,14.91,15.27,18.010,16.330,16.790,18.390,16.32,...,0.0,0.0,0.0,0.0,0.0,30,0,2018-07-23,2,5.0

## Real values score

In [9]:
BGBattery_path_real = 'Output/BGBattery_real_set0.csv'

In [10]:
BGBattery_sc_real = cfbd.ScoreComputer(BGBattery_path_real)
BGBattery_sc_real.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 89.21it/s]

(             r_peak   p_solar           s
 20180723  40.776699       1.0  122.330097
 20180724  40.064103       1.0  120.192308
 20180725  42.524917       1.0  127.574751
 20180726  39.935065       1.0  119.805195
 20180727  43.292683       1.0  129.878049
 20180728       43.0       1.0       129.0
 20180729   41.26506  0.655751   95.384308,
 r_peak      41.551218
 p_solar      0.950822
 s          120.594958
 dtype: float64)

## Naive score

In [11]:
BGBattery_path_naive = 'Output/BGBattery_naive_set0.csv'

In [12]:
BGBattery_sc_naive = cfbd.ScoreComputer(BGBattery_path_naive)
BGBattery_sc_naive.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 95.75it/s]

(             r_peak   p_solar           s
 20180723  37.216828  0.993118  111.138265
 20180724  36.858974  0.999793  110.561688
 20180725  34.883721       1.0  104.651163
 20180726  37.662338       1.0  112.987013
 20180727   34.45122  0.954006  100.184527
 20180728  36.666667  0.999817  109.986567
 20180729  24.096386  0.609415   53.465787,
 r_peak      34.548019
 p_solar      0.936593
 s          100.425001
 dtype: float64)

## Last model score

In [13]:
BGBattery_path_last_model = 'Output/BGBattery_last_model_set0.csv'

In [14]:
BGBattery_sc_last_model = cfbd.ScoreComputer(BGBattery_path_last_model)
BGBattery_sc_last_model.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 116.27it/s]

(             r_peak   p_solar           s
 20180723  37.514204  0.988953  111.713799
 20180724  36.269587       1.0  108.808761
 20180725  35.724991       1.0  107.174972
 20180726   35.49531       1.0  106.485931
 20180727  34.306572  0.904507   96.367674
 20180728  39.651111  0.995054  118.561125
 20180729  26.262383  0.483817    51.67477,
 r_peak      35.032022
 p_solar      0.910333
 s          100.112433
 dtype: float64)