In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm
import sys
import os
sys.path.append(os.path.abspath('../common/'))
import common_functions_by_date as cfbd
import datetime

In [2]:
demand_task3_path = '../task3/Input/demand_train_set3.csv'
solar_power_task3_path = '../task3/Input/pv_train_set3.csv'
weather_task3_path = '../task3/Input/weather_train_set3.csv'
dp_task3 = cfbd.DataPreprocesser(demand_path=demand_task3_path, solar_path=solar_power_task3_path, weather_path=weather_task3_path)
dp_task3.load_df()
dp_task3.remove_nan()
dp_task3.interpolate_df()

In [3]:
first_day_prediction=datetime.datetime(2019,3,10).date()
demand_and_solar_power = dp_task3.df.loc[(dp_task3.df.index.date >= first_day_prediction) & 
                                         (dp_task3.df.index.date < first_day_prediction+ datetime.timedelta(days=7)), :]
demand_and_solar_power.head()

,demand_MW,irradiance_Wm-2,pv_power_mw,panel_temp_C,temp_location3,temp_location6,temp_location2,temp_location4,temp_location5,temp_location1,...,solar_location6,solar_location2,solar_location4,solar_location5,solar_location1,week,dow,date,hour,sp
datetime,,,,,,,,,,,,,,,,,,,,,
2019-03-10 00:00:00,2.68,0.0,0.0,9.55,7.01,11.220,8.98,5.830,11.590,9.690,...,0.0,0.0,0.0,0.0,0.0,10,6,2019-03-10,0,1.0
2019-03-10 00:30:00,2.59,0.0,0.0,9.50,7.74,11.425,9.91,5.745,11.800,10.450,...,0.0,0.0,0.0,0.0,0.0,10,6,2019-03-10,0,2.0
2019-03-10 01:00:00,2.42,0.0,0.0,9.41,8.47,11.630,10.84,5.660,12.010,11.210,...,0.0,0.0,0.0,0.0,0.0,10,6,2019-03-10,1,3.0
2019-03-10 01:30:00,2.30,0.0,0.0,9.47,9.57,11.690,11.08,5.785,12.075,11.225,...,0.0,0.0,0.0,0.0,0.0,10,6,2019-03-10,1,4.0
2019-03-10 02:00:00,2.26,0.0,0.0,9.46,10.67,11.750,11.32,5.910,12.140,11.240,...,0.0,0.0,0.0,0.0,0.0,10,6,2019-03-10,2,5.0

## Score with real values

In [4]:
BGBattery_path_real = 'Output/BGBattery_real_set2.csv'

In [5]:
BGBattery_sc_real = cfbd.ScoreComputer(BGBattery_path_real)
BGBattery_sc_real.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 67.74it/s]

(             r_peak   p_solar           s
 20190310  32.826087       1.0   98.478261
 20190311  37.684211       1.0  113.052632
 20190312  34.917355  0.867782    95.51869
 20190313   34.36214       1.0   103.08642
 20190314  33.958333  0.566751   72.450147
 20190315  34.401709  0.560201   72.945431
 20190316  33.406114  0.717647   81.353712,
 r_peak     34.507993
 p_solar     0.816054
 s          90.983613
 dtype: float64)

## Naive score

In [6]:
BGBattery_path_naive = 'Output/BGBattery_naive_set2.csv'

In [7]:
BGBattery_sc_naive = cfbd.ScoreComputer(BGBattery_path_naive)
BGBattery_sc_naive.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 77.46it/s]

(             r_peak   p_solar           s
 20190310  28.695652       1.0   86.086957
 20190311  33.473684       1.0  100.421053
 20190312  29.545455  0.361673   50.917027
 20190313  27.572016  0.980405   81.635491
 20190314      26.25  0.554079   55.339128
 20190315  31.623932  0.545455   66.122812
 20190316  30.131004  0.615714   67.235193,
 r_peak     29.613106
 p_solar     0.722475
 s          72.536809
 dtype: float64)

## Last model score

In [8]:
BGBattery_path_last_model = 'Output/BGBattery_last_model_set2.csv'

In [9]:
BGBattery_sc_last_model = cfbd.ScoreComputer(BGBattery_path_last_model)
BGBattery_sc_last_model.compute_scores(demand_and_solar_power, first_day_prediction)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [00:00<00:00, 98.60it/s]

(             r_peak   p_solar           s
 20190310  29.703623  0.999801   89.099068
 20190311   34.78269  0.999163  104.289868
 20190312  29.592287   0.69838   70.925634
 20190313  30.600366  0.998938    91.73613
 20190314  31.912037  0.566497   68.068189
 20190315  31.274691  0.561175   66.375845
 20190316  31.267831  0.674814    73.46778,
 r_peak     31.304789
 p_solar     0.785539
 s          80.566074
 dtype: float64)